<div class="row">
          <div class="col-md-12 padding about-venicle" >
              <div class="col-md-12 path">
                  Главная/Каталог/Название товара
              </div>
              <div class="col-md-12">
                  <div class="col-md-4 venicle-img">
                  <img src="res/img/venicle.png" alt="">
              </div>
              <div class="col-md-8">
                  <div class="col-md-12 venicle-name">
                      <span class="">JCB 4CX Super</span>
                  </div>
                  <button type="button" class="col-md-12 venicle-characteristics">
                      Характеристки
                      <img src="res/img/up-down.png" alt="">
                  </button>
                  <div class="col-md-12 venicle-characteristics-list">
                      <div class="col-md-12">
                          <input type="radio" value="charOne" class="custom-radio" id="radio1" name="radio">
                          <label for="radio1" class="radio-label">Характеристика 1</label>
                      </div>
                      <div class="col-md-12">
                          <input type="radio" value="charTwo" class="custom-radio" id="radio2" name="radio">
                          <label for="radio2" class="radio-label">Характеристика 2</label>
                      </div>
                      <div class="col-md-12">
                          <input type="radio" value="charThree" class="custom-radio" id="radio3" name="radio">
                          <label for="radio3" class="radio-label">Характеристика 3</label>
                      </div>
                  </div>
                  <button type="button" class="col-md-12 venicle-characteristics-info">
                      Информация
                      <img src="res/img/up-down.png" alt="">
                  </button>
                  <div class="col-md-12 venicle-characteristic-info">
                     <div class="col-md-12 description">
                         Выберите одну из характеристик что бы увидеть описание...
                     </div>
                  </div>
              </div>
              </div>
              <div class="col-md-4 col-md-offset-4 button-buy">
                  <label>125.000 P.</label>
                  <button type="button">Заказать</button>
              </div>
              <div class="div col-md-12 uslugi">
                  УСЛУГИ
              </div>
          </div>
      </div>