<div class="container-fluid" style="padding: 0;">
          <div class="row services">
              <div class="col-md-12 padding">
                <div class="col-md-6 servic-item">
                  <div class="col-md-4 servic-item-img">
                      <img src="res/img/item.png" alt="">
                  </div>
                  <div class="col-md-6 col-md-offset-2" style="padding: 0;">
                      <div class="col-md-12 servic-name">ЗАСЫПКА ТРАНШЕЙ</div>
                      <div class="col-md-12 servic-description">
                          Нашей компанией осуществляется засыпка траншей в Екатеринбурге,
                          востребованная предприятиями и частными лицами
                      </div>
                  </div>
                </div>
                <div class="col-md-6 servic-item">
                  <div class="col-md-4 servic-item-img">
                      <img src="res/img/item.png" alt="">
                  </div>
                  <div class="col-md-6 col-md-offset-2" style="padding: 0;">
                      <div class="col-md-12 servic-name">ВЫВОЗ МУСОРА</div>
                      <div class="col-md-12 servic-description">
                          Вывоз мусора — составляющая деятельности производств и бытовых 
                          предприятий
                      </div>
                  </div>
                </div>
                <div class="col-md-6 servic-item">
                  <div class="col-md-4 servic-item-img">
                      <img src="res/img/item.png" alt="">
                  </div>
                  <div class="col-md-6 col-md-offset-2" style="padding: 0;">
                      <div class="col-md-12 servic-name">ПОДЪЕМ ГРУЗОВ</div>
                      <div class="col-md-12 servic-description">
                          Ввполение большого спектра высотных операций тяжело 
                          представить без специализированной техники
                      </div>
                  </div>
                </div>
                <div class="col-md-6 servic-item">
                  <div class="col-md-4 servic-item-img">
                      <img src="res/img/item.png" alt="">
                  </div>
                  <div class="col-md-6 col-md-offset-2" style="padding: 0;">
                      <div class="col-md-12 servic-name">ЗАСЫПКА ТРАНШЕЙ</div>
                      <div class="col-md-12 servic-description">
                          Нашей компанией осуществляется засыпка траншей в Екатеринбурге,
                          востребованная предприятиями и частными лицами
                      </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-12 task-list padding">
            <div class="col-md-12" style="padding: 0;">
                  <span style="font-weight: bold; font-size: 24px" >ЗАГОЛОВОК</span>
              </div>
              <div class="col-md-12 tasks">
              </div>
              <div class="col-md-12 add-task">
                  <input type="text" class="col-md-7 new-task-text">
                  <button class="glyphicon glyphicon-ok font add-new-task"></button>
                  <button class="glyphicon glyphicon-remove font clear-task-text"></button>
              </div>
          </div>
      </div>